<div class="filter-menu">
    <mat-form-field class="filter-input" appearance="standard">
        <mat-label>Search</mat-label>
        <input [(ngModel)]='SearchInput' matInput placeholder="Ex. Air Jordan">
    </mat-form-field>

</div>
<div class="products-listing-wrapper" fxLayout="row wrap" fxLayoutGap="30px grid">

    <div *ngFor="let product of products|filter: SearchInput" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%">

        <app-listing-card [product]="product"></app-listing-card>

    </div>

</div>