<h2 mat-dialog-title>Add new product</h2>
<form [formGroup]="addProductForm" class="add-product-form">
    <mat-dialog-content class="mat-typography">
        <mat-tab-group mat-align-tabs="start" class="add-product-tab-group">
            <mat-tab label="Basic Info">
                <div class="basic-info-fields-container">
                    <br>
                    <mat-form-field hintLabel="Max 100 characters" appearance="standard">
                        <mat-label>Title</mat-label>
                        <input autofocus formControlName="title" class="title-input" matInput #titleInput placeholder="Ex. Supreme Winter Hoodie">
                        <mat-hint align="end">{{titleInput.value?.length || 0}}/100</mat-hint>

                    </mat-form-field>
                    <br>
                    <mat-form-field hintLabel="Max 1000 characters" appearance="standard">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" #descriptionInput matInput rows="4"></textarea>
                        <mat-hint align="end">{{descriptionInput.value?.length || 0}}/1000</mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Brand</mat-label>
                        <mat-select formControlName="brandId" name="brand">
                            <mat-option *ngFor="let brand of brands" [value]="brand.Id">
                                {{brand.Name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Add to collections:</mat-label>
                        <mat-select formControlName="collectionIds" multiple>
                            <mat-option *ngFor="let collection of collectionsList" [value]="collection.Id">{{collection.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Inventory & Pricing">
                <div class="pricing-fields-container">
                    <br>
                    <mat-form-field appearance="standard">
                        <mat-label>Price</mat-label>
                        <input formControlName="price" matInput type="number" class="example-right-align">
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Media">
                <button class="add-image-btn" mat-icon-button (click)="addImage()"><mat-icon class="icon-size-29">add_photo_alternate</mat-icon></button>
                <div formArrayName="imagesUrl" *ngFor="let imageUrl of imagesControls; let i = index;">
                    <div [formGroupName]="i">
                        <mat-form-field class="imageurl-input" appearance="standard">
                            <mat-label>Image</mat-label>
                            <input formControlName="url" matInput>

                        </mat-form-field>
                        <button mat-icon-button (click)="removeImage(i)"><mat-icon>clear
                        </mat-icon></button>
                        <br>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Shipping"></mat-tab>
        </mat-tab-group>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" (click)="onSubmit()" [mat-dialog-close]="addProductForm.valid" [disabled]="!addProductForm.valid" mat-button>Save</button>
    </mat-dialog-actions>
</form>