<form [formGroup]="editProductForm" class="add-product-form" fxLayout="row wrap" fxLayoutGap="30px grid">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%" class="images-container">

    </div>
    <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-form-field hintLabel="Max 100 characters" appearance="standard">
            <mat-label>Title*</mat-label>
            <input formControlName="title" class="title-input" matInput #titleInput placeholder="Ex. Supreme Winter Hoodie">
            <mat-hint align="end">{{titleInput.value?.length || 0}}/100</mat-hint>
            <!-- <div *ngIf="titleInput.invalid && (titleInput.dirty || titleInput.touched)" class="alert alert-danger">

                    <div *ngIf="titleInput.errors.required">
                        Name is required.
                    </div>
                    <div *ngIf="titleInput.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="titleInput.errors.forbiddenName">
                        Name cannot be Bob.
                    </div>
                </div> -->
        </mat-form-field>
        <br>
        <mat-form-field hintLabel="Max 1000 characters" appearance="standard">
            <mat-label>Description*</mat-label>
            <textarea formControlName="description" #descriptionInput matInput rows="7"></textarea>
            <mat-hint align="end">{{descriptionInput.value?.length || 0}}/1000</mat-hint>
        </mat-form-field>
        <br>


    </div>
    <div fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div class="pricing-fields-container">
            <mat-form-field appearance="standard">
                <mat-label>Brand*</mat-label>
                <mat-select formControlName="brandId" name="brand" [value]="product.BrandId">
                    <mat-option *ngFor="let brand of brands" [value]="brand.Id">
                        {{brand.Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>Collections</mat-label>
                <mat-select formControlName="collectionIds" multiple [value]="product.CollectionIds">
                    <mat-option *ngFor="let collection of collections" [value]="collection.Id">{{collection.Name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" (click)="onSubmit()" [mat-dialog-close]="editProductForm.valid" [disabled]="!editProductForm.valid" mat-button>Save</button>
        <button (click)="openDeleteDialog(product.Id)" mat-icon-button #tooltip="matTooltip" matTooltip="Delete" matTooltipPosition="above"><mat-icon class="delete-icon">delete_forever</mat-icon>&#32;Delete</button>
    </div>



</form>