<div class="sidenav-menu-content">

    <button routerLink="/dashboard-listings" mat-button>
        <mat-icon>local_offer</mat-icon>&emsp;Listings</button>

    <button routerLink="/dashboard-collections" mat-button>
      <mat-icon>collections_bookmark</mat-icon>&emsp;Collections</button>

    <button routerLink="/dashboard-products" mat-button>
      <mat-icon>category</mat-icon>&emsp;Products</button>


    <button routerLink="" mat-button>
        <mat-icon>group</mat-icon>&emsp;Customers
    </button>


    <button routerLink="" mat-button>
      <mat-icon>local_mall</mat-icon>&emsp;Orders
  </button>

</div>
