ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

td {
    padding-right: 8px;
}

.add-product-container {
    height: 500px;
    width: 70%;
    margin: auto;
    margin-top: 70px;
    box-shadow: 10px 10px 19px -7px rgba(138, 119, 138, 0.83);
}

.upload-card {
    width: 70%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fields-container {
    margin-top: 70px;
}

.fields-container>mat-form-field {
    margin: auto;
}

.left-container {
    height: 100%;
    width: 100%;
}

.right-container {
    height: 100%;
    width: 100%;
}

.submit-btn {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.center-item {
    margin: auto;
}
