table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.table-container {
    width: 95%;
    margin: auto;
    margin-top: 3%;
    /* box-shadow: 10px 10px 19px -7px rgba(138, 119, 138, 0.83); */
    border-top-style: none;
    -webkit-box-shadow: 19px -18px 6px -14px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 19px -18px 6px -14px rgba(0, 0, 0, 0.04);
    box-shadow: 19px -18px 6px -14px rgba(0, 0, 0, 0.04);
}