table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 70%;
    margin-left: 30px;
}

td,
th {
    width: 25%;
}

.table-container {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    /* box-shadow: 10px 10px 19px -7px rgba(138, 119, 138, 0.83); */
    /* -webkit-box-shadow: 19px -18px 6px -14px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 19px -18px 6px -14px rgba(0, 0, 0, 0.04);
    box-shadow: 19px -18px 6px -14px rgba(0, 0, 0, 0.04); */
}
