<section class="sell-section">

    <mat-horizontal-stepper #stepper linear>
        <mat-step [stepControl]="chooseProductFormGroup">
            <form [formGroup]="chooseProductFormGroup" class="choose-product-form">
                <ng-template matStepLabel>Choose a product</ng-template>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Choose a product" aria-label="State" formControlName="productId" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getProductName.bind(this)">
                        <mat-option *ngFor="let product of products" [value]="product.Id">
                            <img class=" example-option-img " aria-hidden src="{{product.ImagesUrl[0]}} " height="30">
                            <span>{{product.Title}}</span>
                            <!-- <small>Population:</small> -->
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button [disabled]="!chooseProductFormGroup.valid" (click)="next() " mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="productDetailsFormGroup ">
            <form [formGroup]="productDetailsFormGroup ">
                <ng-template matStepLabel>Select Product Details</ng-template>
                <section fxLayout="row wrap" fxLayoutGap="1.875rem">
                    <article fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="70%">
                        <div *ngIf="chosenProduct" class="image-wrapper">
                            <img *ngFor="let image of chosenProduct.ImagesUrl" src="{{image}}" alt="product image">
                        </div>
                    </article>
                    <article fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="70%">

                    </article>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </section>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset() ">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</section>
