.nav-bar {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.nav-items-wrapper {
    list-style-type: none;
}

.nav-item {
    display: inline;
}

.float-right {
    float: right;
}