<mat-toolbar>
    <mat-toolbar-row class="nav-first-line">
        <button routerLinkActive="active" routerLink="/" class="nav-item-btn float-left home-btn" mat-icon-button>
        <mat-icon class="icon-size-29">home</mat-icon>
    </button>
        <a routerLink="/" class="logo">
            <h1>HypeFlip</h1>
        </a>
        <div *ngIf="loggedIn()" class="nav-item float-right">
            <button mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon class="icon-size-29">person</mat-icon>
          </button>
            <mat-menu #accountMenu="matMenu">
                <button routerLink="/dashboard-products" mat-menu-item>
        Admin
            </button>
                <button (click)="onLogout()" mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
         </button>
            </mat-menu>


        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="nav-second-row">

        <button routerLinkActive="active" routerLink="/catalog" class="nav-item" mat-button>Catalog</button>



        <a routerLinkActive="active" routerLink="/sell" class="nav-item" mat-button>Sell</a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <a mat-menu-item>Item 1</a>
            <a mat-menu-item>Item 2</a>
        </mat-menu>



        <button routerLinkActive="active" routerLink="/catalog" class="nav-item" mat-button>News</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <a mat-menu-item>Item 1</a>
            <a mat-menu-item>Item 2</a>
        </mat-menu>



        <button routerLinkActive="active" routerLink="/fandq" class="nav-item" mat-button>F&Q</button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
            <a mat-menu-item>Item 1</a>
            <a mat-menu-item>Item 2</a>
        </mat-menu>


    </mat-toolbar-row>


</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>