.nav-bar {
    text-align: center;
    background-color: white;
}

.nav-items-wrapper {
    list-style-type: none;
}

.nav-item {
    display: inline;
    border-radius: 0%;
}

.nav-item>a {
    font-family: 'Syne', sans-serif;
    font-size: 1.125rem;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 1.25rem;
}

.home-btn> {
    font-size: 1.5rem;
}