.nav-bar {
    text-align: center;
    background-color: white;
}

.nav-items-wrapper {
    list-style-type: none;
}

.nav-item {
    display: inline;
}

.nav-item>button {
    margin-right: 15px;
}

.float-right {
    float: right;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}
