<!-- <mat-selection-list [multiple]="false">
    <mat-list-option>
        <a routerLink="/admin-products-add" mat-button>Products</a>
    </mat-list-option>
    <mat-list-option>
        <a>Orders</a>
    </mat-list-option>
    <mat-list-option>
        <a>Customers</a>
    </mat-list-option>
    <mat-list-option>
        <a>Analyticts</a>
    </mat-list-option>
</mat-selection-list> -->

<div class="sidenav-menu-content">
    <button routerLink="/admin-products" mat-button>Products</button>


    <button mat-button>Collections</button>


    <button mat-button>Customers</button>


    <button mat-button>Orders</button>

</div>
