<button class="add-product-btn" (click)="toggleForm()" mat-button><mat-icon>add</mat-icon>  Add Product</button>

<div class="form-container" *ngIf="showForm">
    <mat-tab-group mat-stretch-tabs mat-align-tabs="start">
        <form [formGroup]="addProductForm" class="form" *ngIf="showForm">
            <mat-tab label="Basic Info" fxLayout="row wrap">
                <div class="fields-container">
                    <div class="left" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
                        <mat-form-field hintLabel="Max 60 characters" appearance="standard">
                            <mat-label>Name</mat-label>
                            <input #nameInput formControlName="title" matInput>
                            <mat-hint align="end">{{nameInput.value?.length || 0}}/60</mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select>
                                <mat-option value="option">Shoes</mat-option>
                                <mat-option value="option">T-shirts</mat-option>
                                <mat-option value="option">Jeans</mat-option>

                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field hintLabel="Max 200 characters" appearance="standard">
                            <mat-label>Description</mat-label>
                            <textarea #descriptionInput formControlName="description" matInput></textarea>
                            <mat-hint align="end">{{descriptionInput.value?.length || 0}}/200</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="right" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">

                        <div class="example-section">
                            <label class="example-margin">Collection:</label>
                            <mat-radio-group>
                                <mat-radio-button class="example-margin" value="after">Men</mat-radio-button>
                                <mat-radio-button class="example-margin" value="before">Women</mat-radio-button>
                                <mat-radio-button class="example-margin" value="other">N/A</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <button type="submit" class="save-btn" (click)="onSubmit()" mat-flat-button mat-fab color="accent">
                          <mat-icon>save</mat-icon>
                        </button>


                    </div>

                </div>

            </mat-tab>
            <mat-tab label="Pricing">
                <div class="fields-container">
                    <mat-form-field appearance="standard">
                        <mat-label>Amount</mat-label>
                        <input formControlName="price" matInput type="number" class="example-right-align">
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Inventory"></mat-tab>
            <mat-tab label="Media">

            </mat-tab>


        </form>
    </mat-tab-group>
</div>
