.form-container {
    width: 95%;
    height: 350px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 50px;
    background-color: white;
    /* box-shadow: 10px 10px 19px -7px rgba(138, 119, 138, 0.83); */
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
}

.fields-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.left>mat-form-field {
    width: 85%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.example-margin {
    margin: 0 20px;
}

.example-section>label {
    float: left;
}

.add-product-btn {
    margin: auto;
    margin-top: 50px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
}

.save-btn {
    margin-bottom: 0%;
    margin-right: 0%;
}
