<form [formGroup]="addCollectionForm" class="add-collection-form">
    <h2 mat-dialog-title>Add Collection</h2>
    <mat-dialog-content class="mat-typography">

        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
            <mat-label>ImageUrl</mat-label>
            <input formControlName="imageUrl" matInput>
        </mat-form-field>
        <br>
        <div class="home-display-options-container">
            <mat-checkbox class="example-margin" formControlName="homeDisplay">Home Display</mat-checkbox>
            <mat-form-field appearance="standard">
                <mat-label>Grid Rows</mat-label>
                <mat-select [disabled]="!homeDisplay.value" formControlName="displayRows" required>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">1</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Grid Cols</mat-label>
                <mat-select [disabled]="!homeDisplay.value" formControlName="displayCols" required>
                    <mat-option [value]="1">1</mat-option>
                    <mat-option [value]="2">2</mat-option>
                    <mat-option [value]="3">3</mat-option>
                    <mat-option [value]="4">1</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Position index</mat-label>
                <mat-select [disabled]="!homeDisplay.value" formControlName="displayPositionIndex" required>
                    <mat-option *ngFor="let i of homeDisplayPositions" value="{{i}}">{{i}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="onSubmit()" [mat-dialog-close]="true" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</form>