form {
    width: 600px;
}

mat-form-field {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.home-display-options-container {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 0%;
}

.home-display-options-container>mat-form-field {
    width: 20%;
    margin-right: 10px;
}
