.home-display-options-container {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 0%;
}

.home-display-options-container>mat-form-field {
    width: 20%;
}

mat-form-field {
    margin: auto;
    width: 90%;
    margin-left: 0.9375rem;
}