<!-- <mat-card class="mat-elevation-z4 card">
    <div class="img-wrapper">
        <img class="image" mat-card-image src="{{model.ImageUrl}}" />
    </div>
    <div class="card-content-wrapper">
        <mat-card-title>{{model.Name}}</mat-card-title>
        <mat-card-content>
            <p>{{model.Price}}<span>$</span></p>
        </mat-card-content>
        <mat-card-actions>
            <a class="buy-btn" mat-button>BUY</a>
            <a routerLink="product-detail/{{model.Id}}" mat-button>View</a>
        </mat-card-actions>
    </div>
</mat-card> -->


<mat-card class="product-card">
    <div class="img-wrapper">
        <img class="product-image" mat-card-image src="{{model.ImageUrl}}" alt="">
    </div>
    <div class="card-content-wrapper">
        <a routerLink="/catalog/{{model.Id}}" style="text-decoration: none">
            <h3 class="product-name-label">{{model.Title}}</h3>
        </a>
        <p class="price-label">{{model.Price.toFixed(2)}}$</p>
        <p class="brand-label">{{model.Brand}}</p>
        <mat-action-list>

        </mat-action-list>
    </div>
</mat-card>