.product-card {
    max-width: 400px;
    overflow: hidden;
    height: 320px;
}

.img-wrapper {
    width: 100%;
    height: 250px;
}

.product-image {
    height: 100%;
    background-size: cover;
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.product-image:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    opacity: .8;
}
