<!-- <mat-card class="mat-elevation-z4 card">
    <div class="img-wrapper">
        <img class="image" mat-card-image src="{{model.ImageUrl}}" />
    </div>
    <div class="card-content-wrapper">
        <mat-card-title>{{model.Name}}</mat-card-title>
        <mat-card-content>
            <p>{{model.Price}}<span>$</span></p>
        </mat-card-content>
        <mat-card-actions>
            <a class="buy-btn" mat-button>BUY</a>
            <a routerLink="product-detail/{{model.Id}}" mat-button>View</a>
        </mat-card-actions>
    </div>
</mat-card> -->


<mat-card class="product-card">
    <div class="img-wrapper">

        <img class="product-image" mat-card-image src="{{product.ImageUrl}}" alt="">
    </div>
    <mat-card-content class="card-content-wrapper">
        <p class="brand-label">{{product.BrandName}}</p>
        <a class="product-name-label" routerLink="/catalog/{{product.Id}}" style="text-decoration: none">
            <h4>{{product.Title}}</h4>
        </a>

    </mat-card-content>
    <mat-card-actions>
        <div class="actions-wrapper">
            <button class="like-btn" mat-icon-button><mat-icon>
          favorite_border
          </mat-icon></button>
            <span class="price-label">{{product.Price.toFixed(2)}}$</span>
            <button class="add-to-card-btn" mat-icon-button><mat-icon>add_shopping_cart</mat-icon></button>
        </div>
    </mat-card-actions>
</mat-card>
