<!-- <mat-card class="mat-elevation-z4 card">
    <div class="img-wrapper">
        <img class="image" mat-card-image src="{{model.ImageUrl}}" />
    </div>
    <div class="card-content-wrapper">
        <mat-card-title>{{model.Name}}</mat-card-title>
        <mat-card-content>
            <p>{{model.Price}}<span>$</span></p>
        </mat-card-content>
        <mat-card-actions>
            <a class="buy-btn" mat-button>BUY</a>
            <a routerLink="product-detail/{{model.Id}}" mat-button>View</a>
        </mat-card-actions>
    </div>
</mat-card> -->


<mat-card class="product-card">
    <div class="img-wrapper">
        <img class="product-image" mat-card-image src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F53295439%2Fusing-div-ngstyle-for-background-image-and-am-looping-it-ngfor-if-any-of-ima&psig=AOvVaw3ugfVZm7TemvuONWnASEgH&ust=1599147596905000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCagZznyusCFQAAAAAdAAAAABAD"
            alt="">
    </div>

    <h3 class="product-name-label">{{model.Name}}</h3>

    <mat-action-list>
        <p class="price-label">{{model.Price.toFixed(2)}}$</p>
        <button class="add-to-card-btn icon-size-29" mat-button><mat-icon>add_shopping_cart</mat-icon></button>
    </mat-action-list>
</mat-card>
