.home-collections-container {
    height: 500px;
    padding: 0%;
}

.collection-container {
    /* display: flex;
    justify-content: center; */
    /* margin: 0px; */
    overflow: hidden;
    height: 100%;
    padding: 0%;
    border: 1px solid black;
}

.collection-container>img {
    /* max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out; */
}

.collection-container>img:hover {
    /* transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out; */
}