<section class="collections-container">
    <mat-grid-list cols="4" rowHeight="225px">
        <mat-grid-tile *ngFor="let collection of homeDisplayCollections" [colspan]="collection.DisplayCols" [rowspan]="collection.DisplayRows">
            <div class="collection-img-wrapper">
                <img src="{{collection.ImageUrl}}">
                <button mat-button class="centered">{{collection.Name}}</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</section>

<mat-divider></mat-divider>
<section class="new-releases-container">
    <p class="new-releases-label"><span>New Drops</span></p>

    <carousel [dots]="false" [height]="270" [loop]="false" [cellsToShow]="5" [arrowsOutside]="true">
        <div *ngFor="let product of newProducts" class="carousel-cell">
            <mat-card class="product-card">
                <div class="product-img-wrapper">

                    <img class="product-image" mat-card-image src="{{product.ImagesUrl[0]}}" alt="">
                </div>
                <mat-card-content class="card-content-wrapper">
                    <p class="brand-label">{{product.BrandName}}</p>
                    <a class="product-name-label" routerLink="/catalog/{{product.Id}}" style="text-decoration: none">
                        <h4>{{product.Title}}</h4>
                    </a>

                </mat-card-content>
            </mat-card>
        </div>
    </carousel>
</section>
<mat-divider></mat-divider>