<mat-card class="product-details-container" fxLayout="row wrap">
    <!-- <div fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="100%" class="all-photos-container">

    </div> -->
    <!-- <div class="img-wrapper">
                    <img src="{{product.ImageUrl}}">
                </div> -->
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="main-photo-container">
        <div class="carousel-wrapper">
            <carousel [dots]="true" [height]="600" [loop]="true" [cellsToShow]="1">
                <div class="img-wrapper" *ngFor="let image of slides" class="carousel-cell">
                    <img src="{{product.ImageUrl}}" alt="somethin">
                </div>
            </carousel>
        </div>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" class="product-menu-container">
        <a>
            <p class="product-brand-label">{{product.BrandName}}</p>
        </a>
        <br>
        <p class="product-title-label">{{product.Title}}</p>

        <p class="product-description-label"><em>{{product.Description}}</em></p>
        <br>

        <br>
        <p class="product-price-label">{{product.Price.toFixed(2)}}$</p>

    </div>

</mat-card>