<section class="page-header">
    <h1 class="product-title-label">{{product.Title}}</h1>

    <p class="product-description-label"><em>{{product.Description}}</em></p>
</section>
<section class="product-details-section" fxLayout="row wrap" fxLayoutGap="30px">

    <div class="product-image-container" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="70%">

        <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
        <div class="image-wrapper">
            <img *ngFor="let image of product.ImagesUrl" src="{{image}}" alt="product image">
        </div>

    </div>
    <div fxFlex="10%" fxFlex.xs="100%" fxFlex.sm="70%">

    </div>
    <div class="product-details-container" fxFlex="40%" fxFlex.xs="100%" fxFlex.sm="70%">
        <p class="product-details-label">Details</p>
    </div>
</section>
<br>
<br>
<mat-divider></mat-divider>
<section class="related-products-container">
    <p class="related-products-label"><span>Some more {{product.BrandName}}</span></p>

    <carousel [dots]="false" [height]="270" [loop]="false" [cellsToShow]="5" [arrowsOutside]="true">
        <div *ngFor="let prd of relatedProducts" class="carousel-cell">
            <mat-card class="product-card">
                <div class="product-img-wrapper">

                    <img class="product-image" mat-card-image src="{{prd.ImagesUrl[0]}}" alt="">
                </div>
                <mat-card-content class="card-content-wrapper">
                    <p class="brand-label">{{prd.BrandName}}</p>
                    <a class="product-name-label" routerLink="/catalog/{{prd.Id}}" style="text-decoration: none">
                        <h4>{{prd.Title}}</h4>
                    </a>

                </mat-card-content>
            </mat-card>
        </div>
    </carousel>
</section>
<mat-divider></mat-divider>