<mat-sidenav-container class="admin-panel-container" fullscreen>
    <mat-sidenav class="admin-panel-sidenav" mode="side" opened>
        <div class="sidenav-menu-content">
            <a routerLink="/dashboard-products" mat-button>Products</a>


            <a routerLink="/dashboard-collections" mat-button>Collections</a>


            <a mat-button>Customers</a>


            <a mat-button>Orders</a>

        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button class="add-product-btn" (click)="openAddProductDialog()" mat-button><mat-icon>add</mat-icon>  Add Product</button>
        <app-products-table [products]="products"></app-products-table>
    </mat-sidenav-content>
</mat-sidenav-container>
