.admin-panel-container {
    top: 64px !important;
}

@media(max-width: 599px) {
    .admin-panel-container {
        top: 56px !important;
    }
}

.admin-panel-sidenav {
    width: 15%;
}

.sidenav-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.sidenav-menu-content>button {
    padding: 6px;
    font-size: 18px;
}