.admin-panel-container {
    top: 64px !important;
}

@media(max-width: 599px) {
    .admin-panel-container {
        top: 56px !important;
    }
}

.admin-panel-sidenav {
    width: 15%;
}

.add-product-btn {
    margin-top: 30px;
    margin-right: 30px;
    padding: 8px 17px;
    float: right;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
}
