.sidenav-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.example-h2 {
    margin: 10px;
}

.brands-panel {}

.filter-panel {
    width: 100%;
    padding: 0%;
    height: fit-content;
}

.filter-label {
    font-size: 18px;
}

mat-list-option {}