<div class="sidenav-menu-content">
    <mat-expansion-panel class="filter-panel" (opened)="brandPanelOpenState = true" (closed)="brandPanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title class="filter-label">
                Brands
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-selection-list #shoes>

            <mat-list-option *ngFor="let brand of brands">
                {{brand.Name}}
            </mat-list-option>

        </mat-selection-list>



    </mat-expansion-panel>
    <br>
    <mat-expansion-panel class="filter-panel" (opened)="collectionPanelOpenState = true" (closed)="collectionPanelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title class="filter-label">
                Collection
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-selection-list #shoes>
            <mat-list-option *ngFor="let collection of collections">
                {{collection.Name}}
            </mat-list-option>
        </mat-selection-list>

    </mat-expansion-panel>
</div>