.sidenav-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.example-h2 {
    margin: 10px;
}

.brands-panel {
    height: 100px;
}

.filter-panel {
    width: 100%;
    padding: 0%;
    max-height: 400px;
}

.filter-label {
    font-size: 18px;
}

mat-list-option {
    width: 100%;
}