.sidenav-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.sidenav-menu-content>button {
    padding: 6px;
    font-size: 18px;
}

.example-h2 {
    margin: 10px;
}

.radio-group-section {
    display: flex;
    align-content: center;
    align-items: center;
}

.radio-group {
    flex-direction: column;
}

.radio-group>mat-radio-button {
    width: 100%;
}

.example-margin {
    margin: 5px 20px;
}
